<div *ngIf="isLoading()" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading()">
  <div class="bell-icon" (click)="openReIssueDialog()">
    <div class="badge" *ngIf="reIssueRequests.length > 0">
      {{ reIssueRequests.length }}
    </div>
    <mat-icon>notifications</mat-icon>
  </div>

  <h2>Borrow Requests</h2>

  <div *ngIf="borrowRequests().length === 0">No borrow requests available.</div>

  <div class="user-grid">
    <div *ngFor="let userId of uniqueUserIds()" class="user-card-wrapper">
      <mat-card class="user-card" (click)="openUserDialog(userId)">
        <ng-container *ngIf="userMap().get(userId) as user">
          <div class="badge" *ngIf="getUserRequestCount(userId) > 0">
            {{ getUserRequestCount(userId) }}
          </div>
          <img
            src="https://untitledui.com/images/avatars/lyle-kauffman"
            alt="User Avatar"
            class="avatar"
          />
          <h3>{{ user.name }}</h3>
          <p>{{ user.email }}</p>
          <p><strong>Contact:</strong> {{ user.contact }}</p>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>
