.app-container {
  display: flex;
  min-height: 100vh;
}

main {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

main.collapsed {
  margin-left: 60px;
}
