<nav [class.collapsed]="isCollapsed()" class="sidebar">
  <div class="sidebar-header">
    <h3>Librarian Simulator</h3>
    <button (click)="toggleSidebar()" class="toggle-btn" [class.rotated]="isCollapsed()">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
  </div>

  <div *ngIf = "userName">
    <p>Welcome, {{ user?.name }}</p>
  </div>

  <ul>
    <li *ngFor="let route of visibleRoutes">
      <a [routerLink]="route.path">{{ route.label }}</a>
    </li>
  </ul>

  <hr />
  <button (click)="logout()">Logout</button>

</nav>
