<div class="header-section">
  <h2>My Books</h2>
</div>

<!-- Expired Books section! -->
<div *ngIf="myExpiredBooks().length > 0">
  <h2 class="book-grid">Borrow Request Expired:</h2>
  <div class="book-grid" *ngFor="let book of myApprovedBooks()">
    <mat-card class="book-card" (click)="openRequestDialog(book)">
      <div class="book-header">
        <div class="book-info">
          <h2 class="book-title">{{ book.title }}</h2>
          <p class="book-author">by {{ book.author }}</p>
        </div>
        <div class="book-meta">
          <mat-icon color="primary">book</mat-icon>
          <span class="book-genre">{{ book.genre }}</span>
        </div>
      </div>

      <div class="book-body">
        <p><strong>Return By:</strong>{{ borrowRequestDetails()?.duration }}</p>
        <p><strong>Published:</strong> {{ book.publishedYear }}</p>
      </div>
      <button
        (click)="openRequestDialog(book)"
        [disabled]="
          isReIssueClicked ||
          book?.disabledReIssueUsers?.includes(currentUser?.id || '')
        "
      >
        Re-Issue
      </button>
      <button (click)="returnBook(book.id)">Return</button>
    </mat-card>
  </div>
</div>

<!-- Deadline this week section! -->
<div *ngIf="myDeadlineAlerts().length > 0">
  <h2 class="book-grid">Deadline this week:</h2>
  <div class="book-grid">
    <mat-card class="book-card" *ngFor="let book of myDeadlineAlerts()">
      <div class="book-header">
        <div class="book-info">
          <h2 class="book-title">{{ book.title }}</h2>
          <p class="book-author">by {{ book.author }}</p>
        </div>
        <div class="book-meta">
          <mat-icon color="primary">book</mat-icon>
          <span class="book-genre">{{ book.genre }}</span>
        </div>
      </div>

      <div class="book-body">
        <p><strong>Return By:</strong>{{ borrowRequestDetails()?.duration }}</p>
        <p><strong>Published:</strong> {{ book.publishedYear }}</p>
      </div>
      <button
        (click)="openRequestDialog(book)"
        [disabled]="
          isReIssueClicked ||
          book?.disabledReIssueUsers?.includes(currentUser?.id || '')
        "
      >
        Re-Issue
      </button>
      <button (click)="returnBook(book.id)">Return</button>
    </mat-card>
  </div>
</div>

<!-- Approved Books section! -->
<div *ngIf="myApprovedBooksWithRequest().length > 0">
  <h2 class="book-grid">Read Here:</h2>
  <div
    class="book-grid"
    *ngIf="myApprovedBooksWithRequest().length > 0; else noBooks"
  >
    <mat-card
      class="book-card"
      *ngFor="let pair of myApprovedBooksWithRequest()"
    >
      <div class="book-header">
        <div class="book-info">
          <h2 class="book-title">{{ pair.book.title }}</h2>
          <p class="book-author">by {{ pair.book.author }}</p>
        </div>
        <div class="book-meta">
          <mat-icon color="primary">book</mat-icon>
          <span class="book-genre">{{ pair.book.genre }}</span>
        </div>
      </div>

      <div class="book-body">
        <ng-container *ngIf="pair.request.newDeadline; else showDuration">
          <p>
            <strong>Return By:</strong>
            {{ pair.request.newDeadline | date : "mediumDate" }}
          </p>
        </ng-container>
        <ng-template #showDuration>
          <!-- <p><strong>Return By:</strong> {{ pair.request.createdAt | date: 'mediumDate' }}</p> -->
          <p>
            <strong>Return By:</strong>
            {{
              getDeadline(pair.request.duration, pair.request.createdAt)
                | date : "mediumDate"
            }}
          </p>
        </ng-template>

        <p><strong>Published:</strong> {{ pair.book.publishedYear }}</p>
      </div>

      <button
        (click)="openRequestDialog(pair.book)"
        [disabled]="
          isReIssueClicked ||
          pair.book.disabledReIssueUsers?.includes(currentUser?.id || '')
        "
      >
        Re-Issue
      </button>
      <button (click)="returnBook(pair.book.id)">Return</button>
    </mat-card>
  </div>
</div>

<ng-template #noBooks>
  <p class="no-books-message">No approved books found.</p>
</ng-template>
